<h1>Signup Form</h1>

<form action="/register" method="POST">
  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="username" name="username" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="password" name="password" required>
    
    <div class="clearfix">
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>

<li>
    <a href="/register">Register</a>
</li>
<li>
    <a href="/login">Login</a>
</li>
<li>
    <a href="/logout">Logout</a>
</li>