<h1>This is the secret page</h1>

<p>HEHEHEHEHE</p>

<img src="https://farm6.staticflickr.com/5288/5330247665_09e1b98416.jpg"></img>
<hr>
<li>
    <a href="/register">Register</a>
</li>
<li>
    <a href="/login">Login</a>
</li>
<li>
    <a href="/logout">Logout</a>
</li>