<% include partials/header %>

<h1>You fell in love with <%= animalVar.toUpperCase()  %> </h1>

<% if(animalVar.toLowerCase()==="buddy"){ %>
<p>Buddy is the best</p>
<% } %>
<p>P.S. this is the love.ejs file</p>

<% include partials/footer %>